@model IEnumerable<dbMaquinas.Models.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="rosa principal">Inventário</h1>

<hr class="rosa"/>

<div class="containerin"
<p>
    <a asp-action="Create" class="btn btn-outline-danger">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>ID do Cliente</label>
@*                 @Html.DisplayNameFor(model => model.IDCliente)
 *@            </th>
            <th>
                <label>ID da Máquina</label>
@*                 @Html.DisplayNameFor(model => model.IDMaquina)
 *@            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDMaquina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDInventario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IDInventario">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IDInventario">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

